.pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    &__name {
        font-size: 28px;
        border-radius: 4px;
    }

    &__button {
        margin-top: 10px;
        padding: 10px;
        border: none;
        box-shadow: 0 0 3px 0 rgb(31, 31, 29);
        border-radius: 3px;
        font-size: 18px;
    }

    &__page {
        position: relative;
        display: none;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 10px;
        border-radius: 5px;

        &__overlay {
            height: 500px;
            position: absolute;
            top: 0px;
            left: -150px;
            z-index: 1;
        }

        &__title {
            width: 200px;
            margin-top: 0;
            font-family: "Pokemon Solid", sans-serif;
            font-weight: 900;
            letter-spacing: 4px;
            font-size: 50px;
            text-transform: capitalize;
            z-index: 2;
            position: relative;
            top: 135px;
            left: 145px;
        }

        &__sprite {
            position: relative;
            top: 150px;
            left: -40px;
            width: 150px;
        }
    }
}

// // Media queries for responsiveness
// @media (max-width: 1024px) {
//     .pokedex__page {
//         &__title {
//             font-size: 40px; // Smaller font size for smaller screens
//             top: 160px;
//             left: 120px;
//         }

//         &__sprite {
//             top: 180px;
//             left: -100px;
//             width: 200px;
//         }
//     }
// }

// @media (max-width: 768px) {
//     .pokedex {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         margin-top: 30px;

//         &__name {
//             font-size: 36px;
//             border-radius: 4px;
//         }

//         &__button {
//             margin-top: 10px;
//             padding: 10px;
//             border: none;
//             box-shadow: 0 0 3px 0 rgb(31, 31, 29);
//             border-radius: 3px;
//             font-size: 22px;
//         }

//         &__page {
//             position: relative;
//             display: none;
//             flex-direction: row-reverse;
//             align-items: center;
//             margin-top: 20px;
//             border-radius: 5px;

//             &__overlay {
//                 height: 500px;
//                 position: absolute;
//                 top: 0;
//                 left: -300px;
//                 z-index: 1;
//             }
//         }
//     }
// }

// @media (max-width: 768px) {
//     .pokedex {
//         &__page {
//             margin-top: 20px;
//             border-radius: 5px;

//             &__overlay {
//                 height: 800px;
//                 top: 0;
//                 left: -140px;
//             }

//             &__title {
//             top: 110px;
//             left: 90px;
//         }

//             &__sprite {
//                 top: 125px;
//                 left: -60px;
//                 width: 250px;
//             }
//         }
//     }
// }
